@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

#Shopping_Cart {
    
    display: grid;
    grid-template-columns: 2fr 1fr;
}

#Shopping_Cart h2{
    grid-column-start: 1;
    grid-column-end: span 2;
    font-weight: bold;
    font-size: xx-large;
    padding: 0.5 0;
    margin-left: 0.2em;
    color: #276a9f;

}



#Shopping_items > *  {
    outline: solid;
    outline-color: lightblue;
    border-radius: 1em;
    margin-left: 0.5em;

}

#Shopping_items{
    margin-right: 1em;
}

#Shopping_items article:last-of-type{
    display: flex;
}

.CartItem {
    margin-bottom: 0.5em;
}

.CartItem a{

    display: grid;
    grid-template-columns: 6em 1fr;
    grid-template-rows: 1fr 1fr;
}

.CartItem img {
    height: 5em;
    border-radius: 1em;
    object-fit: scale-down;
    grid-row-end: span 2;
    margin-top: auto;
    margin-bottom: auto;
    margin: auto 0 auto 0.5em;
}

aside {
    display: flex;
    flex-direction: column;
}

aside form{
    display: flex;
    flex-direction: column;
}