body {
    min-width: 40em;
    font-family: "Didact Gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 20px;
}

form {
    display: grid;
    grid-template-rows: repeat(11, 4.9em);
    grid-template-columns: repeat(1, 1fr);
    background-color: #90bbdf;
    border-radius: 8px;
    font-size: 1em;
    width: 50%;
    margin: auto auto;
    text-align: center;
}

label {
    display: block;
    text-align: center;
}

label * {
    font-family: "Didact Gothic", sans-serif;
    grid-column-start: 1;
    border: 1px solid #ffffff ;
    border-radius: 3px;
    background-color: #ffffff;
    width: 70%;
    height: 50px;
    padding: 0 0;
}

.login form {
    padding: 2em 0;
    grid-template-rows: 6em 6em 5em 4em;
    margin: 10em auto;
}

.login #email {
    padding: 0 0 30px 0;
}

h2#goToReg {
    margin: 0 auto auto auto;
    height: 40px;
    width: 200px;
    color: white;
    background-color: #90bbdf;
    border-color: #90bbdf;
    border-radius: 8px;
    font-size: 18px;
}

#goToReg:hover {
    color: #276a9f;
}
