body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

h1 {
    grid-column-start: 1;
    grid-row-start: 1;
    margin: 0 0;
}

#mainLogo {
    position: absolute;
    left: 0;
    margin: 10px;
}

#search {
    display: flex;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin: auto;

    margin-top: 0.5em;
}

#search input{
    margin: auto;
    width: 95%;
    border-radius: 1em;
    padding-left: 1em;
}

.Products {
    width: 99%;
    margin-top: 10px;
    margin-left: 0.5%;
    margin-right: 0.5%;
}

.Products article {
    border-radius: 12px;
    height: 25em;
    position: relative;
    display: flex;
    overflow: hidden;
}

.Products .offers_container {
    display: inline-flex;
    width: 100%;
    overflow-y: hidden;
}

.Products input:first-of-type{
    position: absolute;
    left: 0;
    top: 50%;
    bottom: 50%;

}

.Products input:last-of-type{
    position: absolute;
    right: 0;
    top: 50%;
    bottom: 50%;
}

.sliding_offer {
    height: 100%; 
    border: 3px solid lightgray;

    align-items: center;
    flex-basis: 20%;
    flex-shrink: 0;
    position: relative;
    border-style: none;

    display: grid;
    grid-template-rows: 2.5em 1fr 2.5em;
}


.sliding_offer a{
    text-decoration: none;
}


body > header{
    display: flex;
    position: relative;
    justify-content: flex-end;
    height: 5em;
}

.Products input{
    border-radius: 100%;
}

header > a > img{
    height: 100%;
}

.offers_container::-webkit-scrollbar {
    display: none;
}

.offer_info{
    position: relative;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr 1fr;
    height:max-content;
}

.offer_info h4{
    position: relative;
    margin: 0.5em 0 0 0.5em;
    grid-column-end: span 2;
}

.offer_info h5{
    position: relative;
    margin: 0.5em 0 0 0.5em;

}

.offer_info p {
    margin-top: 0;
    margin-right: 5%;
}

.sliding_offer .offer_img{
    object-fit: scale-down;

    width: 95%;
    height: auto;
}

.user_small_card p{
    margin-top:auto;
    margin-bottom: auto;
}

.user_small_card{
    display: flex;
    margin-left: 0.5em;
    margin-top: auto;
}

.user_small_card .user_small_pfp{
    height: 2em;
    width: 2em;
}

.links {
    flex-direction: column;
    align-items: center;
}

.links a {
    margin: 0px 0;
}

.star{
    width: 30px;
    height: auto;
    margin: 5px;
}

ul {
    display: grid;
    grid-template-columns: repeat(3, 33.33%);
    grid-template-rows: auto;
    justify-items: stretch;
}

.chat-menu {
    grid-template-columns: repeat(2, 50%);
}

.user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.user-photo-container {
    position: relative;
    margin-bottom: 20px;
}

.user-icon-link,
.user-photo-link {
    position: relative;
    display: inline-block;
}

.edit-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
}

.user-photo-container:hover .edit-icon {
    visibility: visible;
}

.userphoto {
    border-radius: 50%;
    width: 150px;
    margin: 20px;
}

li {
    display: inline-block;
}

li a {
    display: inline-block;
    width: 100%;
    height: 100%;
    text-decoration: none;
}

.icon_menu {
    margin:10px;
}

.filterBar-container, .review {
    margin: auto;
}

.average-rating {
    display: flex;
    align-items: center;
}

.stars {
    margin-right: 10px;
}

.filters label {
    margin-right: 5px;
}

.filters select {
    margin-right: 20px;
}

.review-list {
    margin-top: 20px;
}

.review {
    position: relative;
    margin-bottom: 10px;
    border-radius: 3px;
}

.created-at {
    position: absolute; 
    top: 0; 
    right: 0; 
    margin-right: 30px;
    margin-top: 25px;
}

#info-to-user {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.info-to-user {
    margin-top: 50px;
}

.chat-tile {
    display: grid;
    grid-template-columns: 60px auto;
    grid-template-rows: 100px;
    padding: 0 10px 0 10px;
}

.chat-user-photo-container {
    grid-column-start: 1;
    width: 60px;
}

.chat-info {
    grid-column-start: 2;
    display: grid;
    grid-template-columns: auto 100px;
    grid-template-rows: 50% 50%;
}

.chat-userphoto {
    margin-top: 15px;
    grid-column-start: 1;
    margin-right: 10px;
    width: 60px;
    border-radius: 50%;
}

.with-user {
    grid-column-start: 1;
    grid-row-start: 1;
    margin-top: 15px;
    margin-left: 10px;
    margin-bottom: 0;
}

.message-content {
    grid-column-start: 1;
    grid-row-start: 2;
    margin-top: 5px;
    margin-bottom: 0;
    margin-left: 10px;
}

#message-date {
    margin-top: 20px;
    margin-bottom: 0;
    grid-column-start: 2;
    grid-row-start: 1;
}

.unseen, .unchecked {
    grid-column-start: 2;
    grid-row-start: 2;
    align-self: center;
    justify-self: right;
    margin-right: 14px
}

footer {
    margin-top: auto;
    width: 100%;
    padding: 5px;
}