@media (max-width: 100em){
    .offer {
        height: 100%;
        border: 1px solid lightgray;

        align-items: center;
        flex-basis: 20%;
        flex-shrink: 0;
        position: relative;
        border-style: none;

        display: grid;
        grid-template-rows: 2.5em auto 2.5em;
    }
}

@media (max-width: 60em) {
    .icon {
        margin: 25px 20px 0 0;
    }

    #product-grid {
        grid-template-columns: auto; 
        grid-template-rows: auto auto;
    }

    .product-grid .product-image-container {
        grid-row: 1;
    }

    .product-grid .product-info {
        grid-column: 1;
        grid-row: 2;
        display: grid;
    }
}

@media (max-width: 40em){
    .offer {
        height: 100%;
        border: 1px solid lightgray;
        overflow-y: auto;
        align-items: center;
        flex-basis: 40%;
        flex-shrink: 0;
        position: relative;
        border-style: none;

        display: grid;
        grid-template-rows: 2.5em auto 2.5em;
    }

    .hamburger {
        display: block;
        background-color: #2A2F33;
        padding: 0.5em;
        height: 1.5em;
    }

    nav a {
        padding-left: 1em;
    }

    ul li:hover {
        background-color: rgb(135, 141, 163);
    }

    li {
        background:rgb(224, 224, 224);
    }

    #menu ul {
        display: none;
        max-height: 0;
        transition: max-height 5s;
    }

    #hamburger:checked ~ ul {
        width: 100%;
        text-align: left;
        display: initial;
        max-height: 500px;
    }

    ul li {
        display: block;
        width: 100%;
        padding: 10px;
    }

    nav label.hamburger:after {
        content: "\2630";
        color: white;
        font-size: 1em;
    }

    #hamburger:checked + label.hamburger:after {
        content: "\2715";
    }
    
    a #mainLogo {
        font-size: 2em;
        margin: 21px 0 21px 16px;
    }

    .icon {
        margin: 25px 12px 0 0;
    }
}
