@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&display=swap');

html {
    min-width: 30em;
}

.button {
    margin: 0 auto auto auto;
    height: 40px;
    width: 180px;
    color: white;
    background-color: #b8c8d6;
    border-color: #b8c8d6;
    border-radius: 8px;
    font-size: 20px;
}

h2 {
    font-family: "Didact Gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.userIconPhoto {
    color: black;
    padding: 40px 0 40px 0;
}

#mainLogo {
    color:  #293fa1;
    font-family: "Syncopate", sans-serif;
    font-weight: 400;
    font-size: 2.5em;
    font-style: normal;
}

button:hover {
    background: #276a9f;
}

h1 {
    color: #ffffff;
    font-size: 3em;
    text-align: center;
}

#search *{
    border-color: gray;
    border-style: solid;
}

#search input:focus{
    background-color: lightgrey;
}

#search select{
    border-radius: 1em;
}

.Products article {
    outline: solid;
    outline-color: lightblue;
}

.Products h2 {
    color: gray;
    font-size: 2em;
    margin: 0;
}

.Products input{
    height: fit-content;
    width: fit-content;
}

.offer a{
    text-decoration: none;
}

body > header{
    background-color: lightblue;
}

.offer_info{
    font-family: Roboto;
}

.offer_info p {
    font-weight: bold;
    font-size: large;
}

.offer .offer_img{
    border-radius: 10%;
}

.user_small_card .user_small_pfp{
    border-radius: 100%;
}

.user-icons {
    color: black;
    margin: 5px 10px;
}

.center-text {
    text-align: center;
}

.user-info {
    margin-bottom: 0px; 
}

.user-info h2 {
    margin: 10px 0;
}

.links {
    flex-direction: column;
    align-items: center;
}

.links a {
    margin: 0px 0;
}

.star{
    width: 30px;
    height: auto;
    margin: 5px;
}

ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    margin: 0;
}

#hamburger {
    display: none;
}

ul li {
    border-bottom: 1px solid #525252;
}

nav a { 
    margin: 0;
    display: inline-block;
    color: black;
    font-size: 1.2em;
    font-family: "Didact Gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
}

.icon {
    color: #293fa1;
    margin: 25px;
}

.header-icons {
    font-size: 2em;
    margin: 0;
    margin-bottom: 20px;
}

.icon:hover {
    color: white;
}

.edit-icon {
    color: white;
}

a {
    text-decoration: none;
    color: inherit;
}

.stars {
    color: rgb(216, 182, 30);
}

ul li:hover {
    background-color: rgb(135, 141, 163);
    transition: color .2s;
}

.active,
.active a,
li:hover a {
    background-color: rgb(135, 141, 163);
    color: white;
    transition: color .2s;
}

.filterBar-container, .review {
    width: 80%;
    margin: auto;
    background: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
}

.average-rating {
    font-size: 24px;
}

.stars {
    color: #ffd700; /* Star color */
    margin-right: 10px;
}

.rating-score {
    font-weight: bold;
}

.filters {
    margin-top: 20px;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}

.created-at {
    font-size: 1em;
}

.review-user, .review-description {
    margin: 0;
}

.chat-tile {
    border-bottom: 1px solid #ccc;
}

#message-date {
    margin-top: 5px;
    color: #888;
    font-size: 17px;
}

.message-content {
    font-style: italic;
    font-size: 1.3em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: calc(100% - 100px);
}

.message-product {
    font-size: 1.5em;
}

.with-user {
    font-size: 1em;
    color:rgb(131, 131, 131)
}

.unseen {
    color: greenyellow;
}

.chat-header {
    background-color: #f5f5f5;
}

.message-tile {
    font-family: "Didact Gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.column-of-messages {
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
}

.column-of-messages .own-message {
    box-sizing: border-box;
    padding: 0.5rem 1rem;
    margin: 1rem 1rem 1rem auto;
    border-radius: 1.125rem 1.125rem 0 1.125rem;
    background: #333;
    color: white;
    min-height: 2.25rem;
    width: fit-content;
    max-width: 66%;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.075), 0rem 1rem 1rem -1rem rgba(0, 0, 0, 0.1);
}

.column-of-messages .other-message {
    box-sizing: border-box;
    padding: 0.5rem 1rem;
    margin: 1rem;
    background: #FFF;
    border-radius: 1.125rem 1.125rem 1.125rem 0;
    min-height: 2.25rem;
    width: fit-content;
    max-width: 66%;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.075), 0rem 1rem 1rem -1rem rgba(0, 0, 0, 0.1);
}

.time {
    font-family: "Didact Gothic", sans-serif;
    font-size: 0.8rem;
    background: #EEE;
    padding: 0.25rem 1rem;
    border-radius: 2rem;
    color: #999;
    width: fit-content;
    margin: 10px auto 0 auto;
}

footer {
    background-color: #f5f5f5;
    text-align: center;
    font-family: "Didact Gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.input {
    margin-top: auto;
    box-sizing: border-box;
    flex-basis: 4rem;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    padding: 0 0.5rem 0 1.5rem;
}

.input input {
    border: none;
    background-image: none;
    background-color: white;
    padding: 0.5rem 1rem;
    margin-right: 0.7rem;
    border-radius: 1.125rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1), 0rem 1rem 1rem -1rem rgba(0, 0, 0, 0.2);
    font-family: "Didact Gothic", sans-serif;
    font-weight: 400;
    letter-spacing: 0.025em;
    grid-column: 1;
}

.Send, .Send:hover {
    margin: 0;
    height: 40px;
    width: 40px;
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}

.Send i {
    margin: 0;
    font-size: 20px;
    grid-column: 2;
}

.Send i:hover {
    color: lightblue;
}

.prev-button, .next-button {
    border-radius: 200px;
    border-color: lightblue;
    background-color: lightblue;
}

.prev-button:hover, .next-button:hover {
    border-color: #293fa1;
    background-color: #293fa1;
}

.prev-icon, .next-icon {
    color: white;
}





#Shopping_Cart h2{
    grid-column-start: 1;
    grid-column-end: span 2;
    font-weight: bold;
    font-size: xx-large;
    padding: 0.5 0;
    margin-left: 0.2em;
    color: #276a9f;

}



#Shopping_items > *  {
    outline: solid;
    outline-color: lightblue;
    border-radius: 1em;
    margin-left: 0.5em;

}

#Shopping_items{
    margin-right: 1em;
}

#Shopping_items #totalPayment{
    display: flex;
}

.CartItem {

    display: grid;
    grid-template-columns: 6em 1fr;
    grid-template-rows: 1fr 1fr;

    margin-bottom: 0.5em;
    padding-left: 1em;
}

.CartItem img {
    height: 95%;
    width: 95%;
    border-radius: 1em;
    grid-row-end: span 2;
    object-fit:contain;
}

#Shopping_Cart aside {
    display: flex;
    flex-direction: column;
}

#Shopping_Cart aside form{
    display: grid;
    grid-template-columns: 10em 1fr;
    grid-template-rows: repeat(4, 1.5em);
}

#shippingAdress h3{
    font-size: 2.5em;
    margin: 0;
}

#shippingAdress h5{
    font-size: larger;
    margin-bottom: 1em;
}

#shippingAdress input[type="submit"]{
    grid-column-end: span 2;
    height: 2.5em;
    margin-top: 10px;
    border-radius: 1em;

    background-color: lightblue;
    color: white;
    border-style: none;
}

#address input,
#address select {
    height: 1.3em;
    margin-right: 1em;
}
