@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

#Shopping_Cart {

    display: grid;
    grid-template-columns: 4fr 1fr;
}

#Shopping_Cart h2{
    grid-column-start: 1;
    grid-column-end: span 2;
}

#Shopping_items > *  {
    outline: solid;
    outline-color: lightblue;
    border-radius: 1em;
}

#Shopping_items{
    margin-right: 1em;

}

aside {
    display: flex;
    flex-direction: column;
}

aside form{
    display: flex;
    flex-direction: column;
}